* {
	font-family: 'Urbanist', sans-serif;
}

#jumbo-title, h1{
	font-weight: 900;
	text-transform:uppercase;
	color: #fff;
}

body{
	background-color: aquamarine;
	padding-top: 75px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}	