#jumbo-title{
	font-family: roboto;
	font-weight: 900;
	text-transform:uppercase;
	color: #fff;
}
body{
	background-color: aquamarine;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}	